<nav class="bg-transparent">
  <div class="max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button menubtn type="button" class="relative inline-flex items-center justify-center rounded-full p-1" aria-controls="mobile-menu" aria-expanded="false">
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6 stroke-2 stroke-indigo-800 dark:stroke-indigo-50" fill="none" viewBox="0 0 24 24" stroke-width="1.5" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6 stroke-2 stroke-indigo-800 dark:stroke-indigo-50" fill="none" viewBox="0 0 24 24" stroke-width="1.5" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-6 w-auto" src="assets/img/logo.png" alt="Pedro More">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a href="/" class="text-indigo-800 dark:text-indigo-50 active:ring-2 active:ring-indigo-800 dark:active:ring-indigo-50 dark:active:text-indigo-300 rounded-full px-3 py-2 text-sm font-medium" aria-current="page">Home</a>
            <a href="/projects" class="text-indigo-800 dark:text-indigo-50 active:ring-2 active:ring-indigo-800 dark:active:ring-indigo-50 dark:active:text-indigo-300 dark:hover:text-indigo-300 rounded-full px-3 py-2 text-sm font-medium">Projects</a>
            <a href="/profile" class="text-indigo-800 dark:text-indigo-50 active:ring-2 active:ring-indigo-800 dark:active:ring-indigo-50 dark:active:text-indigo-300  dark:hover:text-indigo-300 rounded-full px-3 py-2 text-sm font-medium">Profile</a>
            <a href="/contact" class="text-indigo-800 dark:text-indigo-50 active:ring-2 active:ring-indigo-800 dark:active:ring-indigo-50 dark:active:text-indigo-300 dark:hover:text-indigo-300 rounded-full px-3 py-2 text-sm font-medium">Contact</a>
          </div>
        </div>
      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button" (click)="globalServ.setDarkMode(!globalServ.getDarkMode())" class="relative rounded-full p-1 outline-none md:ring-2 ring-indigo-800 dark:ring-white">
          <div class="flex items-center h-4">
            @if (globalServ.getDarkMode()) {
              <svg class="w-6 h-6 md:w-5 md:h-5 stroke-2 dark:fill-indigo-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2.24a.74.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM7.5 12a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM18.894 6.166a.75.75 0 0 0-1.06-1.06l-1.591 1.59a.75.75 0 1 0 1.06 1.061l1.591-1.59ZM21.75 12a.75.75 0 0 1-.75.75h-2.25a.75.75 0 0 1 0-1.5H21a.75.75 0 0 1 .75.75ZM17.834 18.894a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 1 0-1.061 1.06l1.59 1.591ZM12 18a.75.75 0 0 1 .75.75V21a.75.75 0 0 1-1.5 0v-2.25A.75.75 0 0 1 12 18ZM7.758 17.303a.75.75 0 0 0-1.061-1.06l-1.591 1.59a.75.75 0 0 0 1.06 1.061l1.591-1.59ZM6 12a.75.75 0 0 1-.75.75H3a.75.75 0 0 1 0-1.5h2.25A.75.75 0 0 1 6 12ZM6.697 7.757a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 0 0-1.061 1.06l1.59 1.591Z" /></svg>
            } @else {
              <svg class="w-6 h-6 md:w-5 md:h-5 stroke-2 fill-indigo-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M9.528 1.718a.75.75 0 0 1 .162.819A8.97 8.97 0 0 0 9 6a9 9 0 0 0 9 9 8.97 8.97 0 0 0 3.463-.69.75.75 0 0 1 .981.98 10.503 10.503 0 0 1-9.694 6.46c-5.799 0-10.5-4.7-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 0 1 .818.162Z" clip-rule="evenodd" /></svg>
            }
          </div>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div #menuItens class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a href="#" class="text-indigo-800 dark:text-indigo-50 active:ring-2 active:ring-indigo-800 dark:active:ring-indigo-50 block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Home</a>
      <a href="#" class="text-indigo-800 dark:text-indigo-50 block rounded-md px-3 py-2 text-base font-medium">Projects</a>
      <a href="#" class="text-indigo-800 dark:text-indigo-50 block rounded-md px-3 py-2 text-base font-medium">Profile</a>
      <a href="#" class="text-indigo-800 dark:text-indigo-50 block rounded-md px-3 py-2 text-base font-medium">Contact</a>
    </div>
  </div>
</nav>
