<div class="flex flex-col justify-center items-center p-3">
  @if (slides != null) {
    <div class="ring-2 ring-accent rounded-2xl">
      <img class="rounded-2xl" [src]="getCurrentSlide().Url" alt="{{ getCurrentSlide().Title }}"/>
    </div>
    @if ( slides.length > 1 ) {
      <div class="flex justify-between join transform -translate-y-6">
        <button class="join-item btn btn-md stroke-2 stroke-primary" (click)="goToPrevious()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-3 h-3"><path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" /></svg>
        </button>

        <button class="join-item btn btn-md text-primary">
          {{ (currentIndex()+1) }}
        </button>

        <button class="join-item btn btn-md stroke-2 stroke-primary" (click)="goToNext()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-3 h-3"><path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" /></svg>
        </button>
      </div>
    }
  } @else {
    <div class="ring-2 ring-accent rounded-2xl">
      <img class="rounded-2xl" src="assets/imng/img_not_found.png" alt="Not Found"/>
    </div>
  }
</div>
